{% extends 'base.html' %}

{% block content %}
    <div id="layoutSidenav_content">
        <main class="col-lg-12">
            <div class="container-fluid px-4">

                {#        Formulario de buscar#}
                <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0 float-end"
                      method="GET" action="{% url 'analisis_search' padre.nombre_slug %}">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Buscar..."
                               aria-label="Search for..." name="buscar"
                               aria-describedby="btnNavbarSearch"/>
                        <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                                class="fas fa-search"></i></button>
                    </div>
                </form>

                <h1 class="mt-4">Análisis</h1>

                <ol class="breadcrumb mb-4 col-lg-10 bg-white">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none">Inicio</a>
                    </li>
                    <li class="breadcrumb-item">Otros</li>
                    <li class="breadcrumb-item active">
                        <a href="{% url 'clientes' %}" style="text-decoration: none">Clientes</a></li>
                    <li class="breadcrumb-item ">Analisis de {{ padre }}</li>

                </ol>


                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fa fa-plus me-1"></i>
                        <button class="btn btn-primary col-lg-2" style="margin-right: 2%">
                            <a class="text-decoration-none text-white" href="{% url 'analisis_add' padre.nombre_slug %}">Añadir</a>
                        </button>
                        {#                         <i class="fa fa-flask me-1"></i>#}
                        {#                        <button class="btn btn-primary col-lg-2">#}
                        {#                            <a class="text-decoration-none text-white" href="{% url 'delete_expired' %}">Todos los análisis</a>#}
                        {#                        </button>#}
                    </div>
                    <div class="card-body container">
                        <table class="table table-hover table-bordered text-center table-responsive-sm">
                            <thead class="text-white mybg">
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha de pedido</th>
                                <th>Fecha de expiracion</th>
                                <th>Fecha de entrega</th>
                                <th>Resultado</th>
                                <th>Factura</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for analisis in entradas %}
                                <tr>
                                    <td>{{ analisis.nombre }}</td>
                                    <td>
                                        {{ analisis.fecha_pedido }}
                                    </td>
                                    {% if analisis.fecha_expiracion %}
                                        <td>{{ analisis.fecha_expiracion }}</td>
                                    {% else %}
                                        <td>Sin registrar</td>
                                    {% endif %}
                                    {% if analisis.fecha_terminado %}
                                        <td>{{ analisis.fecha_terminado }}</td>
                                    {% else %}
                                        <td>Sin terminar</td>
                                    {% endif %}
                                    {% if analisis.resultado %}
                                    <td>
                                        <button type="button" class="btn btn-primary px-3 waves-effect waves-light">
                                            <a target="_blank" href="/media/{{ analisis.resultado }}">
                                                <i class="fas fa-poll text-white" aria-hidden="true"></i>
                                            </a>
                                        </button>
                                    </td>
                                    {% else %}
                                        <td>N/A</td>
                                    {% endif %}
                                    {% if analisis.factura %}
                                    <td>
                                        <button type="button" class="btn btn-primary px-3 waves-effect waves-light">
                                            <a target="_blank" href="/media/{{ analisis.factura }}">
                                                <i class="fas fa-file text-white" aria-hidden="true"></i>
                                            </a>
                                        </button>
                                    </td>
                                        {% else %}
                                        <td>N/A</td>
                                    {% endif %}
                                    <td>
                                        <button type="button" class="btn btn-primary px-3 waves-effect waves-light">
                                            <a href="{% url 'analisis_edit' padre.nombre_slug analisis.id %}">
                                                <i class="fas fa-edit text-white" aria-hidden="true"></i>
                                            </a>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger px-3 waves-effect waves-light"
                                                onclick='AparecerDelete("{{ analisis.id }}")'>
                                            <i class="fas fa-trash-alt" aria-hidden="true"></i>
                                        </button>

                                        <div class="d-none mb-2" id={{ analisis.id }}>
                                            <p class="bold mt-3">¿Estás seguro de <br>
                                                eliminar esta entrada?</p>
                                            <div class="row">
                                                <div class="col-lg-2"></div>
                                                <div class="col-lg-4 pt-1">
                                                    <button type="button"
                                                            class="btn btn-danger p-2 waves-effect waves-light">
                                                        <a class="text-white text-decoration-none"
                                                           href="{% url 'analisis_delete' padre.nombre_slug analisis.id %}">Borrar
                                                            <i class="fas fa-trash-alt text-white"
                                                               aria-hidden="true"></i>
                                                        </a>
                                                    </button>
                                                </div>
                                                <div class="col-lg-4 pt-1">
                                                    <button type="button"
                                                            class="btn btn-danger p-2 waves-effect waves-light ">
                                                        <a onclick='AparecerDelete("{{ material.codigo_laboratorio }}")'>Volver
                                                            <i class="fas fa-backspace text-white"
                                                               aria-hidden="true"></i>
                                                        </a>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% empty %}
                                <h1 class="px-4 mb-5 mt-3">No hay resultados</h1>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if entradas.has_other_pages %}
                            <ul class="pagination">
                                {% if entradas.has_previous %}
                                    <li><a class="text-black page-link"
                                           href="?page={{ entradas.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                    <li class="disabled"><span></span></li>
                                {% endif %}
                                {% for i in entradas.paginator.page_range %}
                                    {% if entradas.number == i %}
                                        <li class="active page-link"><span>{{ i }} <span class="sr-only">(current)
                                        </span></span></li>
                                    {% else %}
                                        <li><a class="text-black page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if entradas.has_next %}
                                    <li><a class="text-black page-link" href="?page={{ entradas.next_page_number }}">&raquo;</a>
                                    </li>
                                {% else %}
                                    <li class="disabled"><span></span></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock content %}