{% extends 'base.html' %}
{% load static crispy_forms_filters %}


{% block content %}

    {% block extra_css %}
        {{ form.media.css }}
    {% endblock %}

    {% block extra_js %}
        {{ form.media.js }}
    {% endblock %}

    <div id="layoutSidenav_content">
        <main class="container row col-lg-12" STYLE="padding: 2%">

            <h1 class="mt-0">{{ entrada.nombre }}</h1>

            <ol class="breadcrumb mb-4 col-lg-12 bg-white">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}" style="text-decoration: none">Inicio</a>
                </li>
                <li class="breadcrumb-item">Otros</li>
                <li class="breadcrumb-item active">
                    <a href="{% url 'eventos' %}" style="text-decoration: none">Eventos</a>
                </li>
                <li class="breadcrumb-item active">{{ entrada.nombre }}</li>
            </ol>


            <div class="card border-dark">
                <form class="card-body container row col-lg-12"
                      action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="col-lg-4" style="padding: 1%">
                            {{ field | as_crispy_field }}
                        </div>
                    {% endfor %}
                    <div class="text-center" style="padding: 2%">
                        <button type="submit" class="btn btn-primary px-3 waves-effect waves-light col-lg-3">
                            <a> Guardar
                                <i class="fas fa-save text-white" aria-hidden="true"></i>
                            </a>
                        </button>
                        <button class="btn btn-danger px-3 waves-effect waves-light col-lg-3" type="reset"
                                onclick="window.location.href='{% url 'eventos' %}' ">
                            <a class="text-white text-decoration-none" href="{% url 'eventos' %}"> Salir sin guardar
                                <i class="fas fa-times-circle text-white" aria-hidden="true"></i>
                            </a>
                        </button>
                    </div>
                </form>
            </div>
        </main>
    </div>

    <script src="{% static 'js/jscolor.min.js' %}"></script>
    {% block extrajs %}{% endblock extrajs %}

{% endblock content %}