{% extends 'base.html' %}
{% load tags_web %}

{% block content %}
    <div id="layoutSidenav_content">
        <main class="col-lg-12">
            <div class="container-fluid px-4">

                {#        Formulario de buscar#}
                <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0 float-end"
                      method="GET" action="{% url 'search_usuario' %}">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Buscar..."
                               aria-label="Search for..." name="buscar"
                               aria-describedby="btnNavbarSearch"/>
                        <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                                class="fas fa-search"></i></button>
                    </div>
                </form>

                <h1 class="mt-4">Usuarios</h1>

                <ol class="breadcrumb mb-4 col-lg-3 bg-white">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none">Inicio</a>
                    </li>
                    <li class="breadcrumb-item">Usuarios</li>
                </ol>

            {% get_permisos request.user as userpermit %}
                <div class="card mb-4">
                    <div class="card-body container">
                        <table class="table table-hover table-bordered text-center table-responsive-lg">
                            <thead class="text-white mybg">
                            <tr>
                                <th>Nombre</th>
                                <th>Puede añadir entradas</th>
                                <th>Puede editar entradas</th>
                                <th>Puede borrar entradas</th>
                                <th>Configuración de colores</th>
                                <th>Crear nuevos usuarios</th>
                                {% if userpermit.can_user %}
                                <th>Editar</th>
                                {% endif %}
                                {% if userpermit.can_user %}
                                <th>Eliminar</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for usuario in usuarios %}
                                {% get_permisos usuario as permisos %}
                                <tr>
                                    <td id="nombre{{ usuario.id }}">{{ usuario.username }}</td>
                                    <td>
                                        {% if permisos.can_add %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if permisos.can_edit %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if permisos.can_delete %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if permisos.can_color %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if permisos.can_user %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    {% if userpermit.can_user %}
                                    <td>
                                        <button type="button" class="btn btn-primary px-3 waves-effect waves-light">
                                            <a href="{% url 'edit_permisos' usuario.id %}">
                                                <i class="fas fa-edit text-white" aria-hidden="true"></i>
                                            </a>
                                        </button>
                                    </td>
                                    {% endif %}
                                    {% if userpermit.can_user %}
                                    <td>
                                        <button type="button" class="btn btn-danger px-3 waves-effect waves-light"
                                                onclick='SweetDeleteId("{{ usuario.id }}","/usuarios/delete/")'>
                                            <i class="fas fa-trash-alt" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                {% endif %}
                                </tr>
                            {% empty %}
                                <h1 class="px-4 mb-5 mt-3">No hay resultados</h1>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if entradas.has_other_pages %}
                            <ul class="pagination">
                                {% if entradas.has_previous %}
                                    <li><a class="text-black page-link"
                                           href="?page={{ entradas.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                    <li class="disabled"><span></span></li>
                                {% endif %}
                                {% for i in entradas.paginator.page_range %}
                                    {% if entradas.number == i %}
                                        <li class="active page-link"><span>{{ i }} <span class="sr-only">(current)
                                        </span></span></li>
                                    {% else %}
                                        <li><a class="text-black page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if entradas.has_next %}
                                    <li><a class="text-black page-link" href="?page={{ entradas.next_page_number }}">&raquo;</a>
                                    </li>
                                {% else %}
                                    <li class="disabled"><span></span></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock content %}