{% extends 'plantilla_para_tablas.html' %}
{% load qr_code %}

{% block content2 %}
    <h1 class="mt-4">Disolventes</h1>

    <ol class="breadcrumb mb-4 col-lg-3">
        <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none">Inicio</a>
        </li>
        <li class="breadcrumb-item">Productos</li>
        <li class="breadcrumb-item active">Disolventes</li>
    </ol>


    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            <button class="btn btn-primary col-lg-2"><a class="text-white text-decoration-none"
                                                        href="{% url 'add_disolvente' %}">Añadir</a></button>
        </div>
        <div class="card-body container">
            <table class="table table-hover table-bordered text-center">
                <thead class="text-white">
                <tr bgcolor="#212529">
                    <th>Nombre</th>
                    <th>Código de laboratorio</th>
                    <th>CAS</th>
                    <th>Polaridad</th>
                    <th>Volumen</th>
                    <th>Proveedor</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                </thead>
                <tbody>
                {% for producto in entradas %}
                    <tr>
                        <td>{{ producto.nombre }}</td>
                        <td>
                            {{ producto.codigo_laboratorio }}
                            <button type="button" class="btn btn-primary px-3 waves-effect waves-light"
                                    onclick="Aparecer({{ producto.id }})">
                                <i class="fas fa-qrcode" aria-hidden="true"></i>
                            </button>
                            <div id={{ producto.id }} class="d-none">
                                <img src="{% qr_url_from_text producto.codigo_laboratorio %}">
                            </div>
                        </td>
                        <td>{{ producto.CAS }}</td>
                        <td>
                            {% if producto.organico %}
                                Orgánico
                            {% else %}
                                Inorgánico
                            {% endif %}
                        </td>
                        <td>{{ producto.cantidad }}</td>
                        <td>
                            {% if producto.proveedor %}
                                {{ producto.preveedor }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary px-3 waves-effect waves-light">
                                <a href="{% url 'disolvente_edit' producto.codigo_laboratorio %}">
                                    <i class="fas fa-edit text-white" aria-hidden="true"></i>
                                </a>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger px-3 waves-effect waves-light"
                                    onclick='AparecerDelete("{{ producto.codigo_laboratorio }}")'>
                                <i class="fas fa-trash-alt" aria-hidden="true"></i>
                            </button>

                            <div class="d-none mb-2" id={{ producto.codigo_laboratorio }}>
                                <p class="bold mt-3">¿Estás seguro de <br>
                                    eliminar esta entrada?</p>
                                <button type="button" class="btn btn-danger px-3 waves-effect waves-light">
                                    <a class="text-white text-decoration-none"
                                       href="{% url 'delete_reactivo' producto.codigo_laboratorio %}">Borrar
                                        <i class="fas fa-trash-alt text-white" aria-hidden="true"></i>
                                    </a>
                                </button>
                                <button type="button" class="btn btn-danger px-3 waves-effect waves-light">
                                    <a onclick='AparecerDelete("{{ producto.codigo_laboratorio }}")'>Volver
                                        <i class="fas fa-backspace text-white" aria-hidden="true"></i>
                                    </a>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>

{% endblock content2 %}