{% extends 'plantilla_productos.html' %}
{% load qr_code %}

{% block content2 %}

    <h1 class="mt-4">Reactivos</h1>

    <ol class="breadcrumb mb-4 col-lg-3">
        <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none">Inicio</a>
        </li>
        <li class="breadcrumb-item">Productos</li>
        <li class="breadcrumb-item active">Reactivos</li>
    </ol>


    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            <btn class="btn btn-primary col-lg-2">Añadir</btn>
        </div>
        <div class="card-body container">
            <table class="table table-hover table-bordered text-center">
                <thead class="text-white">
                <tr bgcolor="#212529">
                    <th>Nombre</th>
                    <th>Código de laboratorio</th>
                    <th>CAS</th>
                    <th>Fecha de caducidad</th>
                    <th>Proveedor</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                </thead>
                <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>
{#                            <a class="text-decoration-none text-dark" href="{% url 'reactivo_detalle' producto.codigo_laboratorio %}">#}
                                {{ producto.nombre }}
{#                            </a>#}
                        </td>
                        <td>
                            {{ producto.codigo_laboratorio }}
                            <button type="button" class="btn btn-primary px-3 waves-effect waves-light"
                                    onclick="Aparecer({{ producto.id }})">
                                <i class="fas fa-qrcode" aria-hidden="true"></i>
                            </button>
                            <div id={{ producto.id }} class="d-none">
                                <img src="{% qr_url_from_text producto.codigo_laboratorio %}">
                            </div>
                        </td>
                        <td>{{ producto.CAS }}</td>
                        <td>{{ producto.fecha_caducidad }}</td>
                        <td>
                            {% if producto.proveedor %}
                                {{ producto.preveedor }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary px-3 waves-effect waves-light">
                                <a href="{% url 'reactivo_edit' producto.codigo_laboratorio %}">
                                    <i class="fas fa-edit text-white" aria-hidden="true"></i>
                                </a>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger px-3 waves-effect waves-light">
                                <i class="fas fa-trash-alt" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content2 %}